*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    background-color: greenyellow;
    height: 100%;
    padding: 100px;
}
body{
    background: url("https://funart.pro/uploads/posts/2021-04/1617499293_48-p-oboi-oblako-na-belom-fone-53.png"), repeat;
}
.container form{
    
    border: 1px solid #111;
    padding: 30px;
    margin: 0 auto;
    max-width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}